<nav id = "navbar">
  <a href="/">Resume</a> | <a href="/form">Guestbook Form</a> | <a href = "/admin">Admin Page</a> 
  | <a href = "https://github.com/jmakho01/guestbook-form">Github Repository</a> 
  | <a href = "https://www.linkedin.com/in/jason-makhovitskiy/">LinkedIn Profile</a>
  <hr>
</nav>